.container {
    border: 2px solid rgb(255, 51, 0);
    display: grid;
    grid-template-areas: "nav nav nav"
        "side article article"
        "footer footer footer";
}

.item {
    border: 2px solid rgb(9, 25, 255);
    height: 55px;
    /* width: 55px; */
}

.item1 {
    grid-area: nav;
    background-color: lightcoral;
}

.item2 {
    grid-area: side;
    background-color: lightblue;
}

.item3 {
    grid-area: article;
    background-color: lightgreen;
}

.item4 {
    grid-area: footer;
    background-color: lightgoldenrodyellow;
}