:root {
    --navbackgroundcol: rgb(0, 91, 114);
    --boxcolors: rgb(180, 235, 248);
    --boxtext: white;
    --bodycolor: rgb(180, 235, 248);

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li {
    list-style: none;
    padding: 12px 15px;
}
li:hover {
    background-color: var(--boxcolors);
    text-decoration-color: black;
}
ul li a{
    color: var(--boxtext);
    text-decoration: none;  
}

ul {
    display: flex;
}

nav {
    background-color: var(--navbackgroundcol, red);
}
body{
    background-color: var(--bodycolor);
}