* {
    padding: 0;
    margin: 0px;

}

.container {
    border: 2px solid black;
    width: 100vw;
    height: 80vh;
    margin: 20px;

}

.box {
    border: 2px solid blueviolet;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(45deg); */
    /* transform: rotate(.25turn); */
    transform: rotateZ(0deg);
    /* transform: scale(1.5); */
    /* transform: scaleX(2); */
    /* transform: skewY(45deg);  */
    /* transform: translate(50%) rotate(45deg) scale(1.2); */

}